@{
    ViewBag.Title = "Home Page";
}
<style>
    img {
        border-radius: 50%;
    }
</style>
<div class="jumbotron">
    <img src="poza.jpg" width="700" height="300" align="middle">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ELECTRICA</h2>
        <p>
            ELECTRICA FURNIZARE SA, filială a Grupului ELECTRICA, s-a înființat în data de 22.07.2011, în conformitate cu prevederile HG 930/01.09.2010, prin fuziunea fostelor filiale ELECTRICA Furnizare Muntenia Nord, ELECTRICA Furnizare Transilvania Nord și ELECTRICA Furnizare Transilvania Sud.
        </p>
        <p><a class="btn btn-default" href="http://www.electricafurnizare.ro/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>E-on</h2>
        <p>E.ON România, membră a Grupului E.ON, este compania platformă care susţine companiile E.ON operaţionale în România în sectorul gazelor naturale şi al electricităţii.

Obiectivul nostru este să consolidăm poziţia E.ON pe piaţa de energie din România prin dezvoltarea portofoliului de clienţi şi asigurarea securităţii furnizării de gaze naturale şi de electricitate pentru consumatori.

Pentru a atinge acest scop ne vom concentra eforturile pentru a fi recunoscuţi ca furnizori de soluţii competitive şi de încredere şi care pot aduce mai mult confort şi eficienţă pentru clienţii noştri.</p>
        <p><a class="btn btn-default" href="https://www.eon-energie-romania.ro/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RDS&RCS</h2>
        <p>RCS & RDS, compania lider pe piata serviciilor de televiziune si de internet din Romania. Furnizeaza si telefonie fixa si mobila. Calitate la preturi accesibile.</p>
        <p><a class="btn btn-default" href="https://www.rcs-rds.ro/">Learn more &raquo;</a></p>
    </div>
</div>